{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
</head>
<style>
    .color{
        background-color: #d8d5d5;
    }
</style>
<body>

<div class="mb-3">
    <nav class="navbar color justify-content-around pt-4 pb-4">
        <img src="/media/naslovna.png">
    </nav>
</div>



<div class="container-fluid color pb-4 pt-4">

    <div class="d-flex gap-2 justify-content-center flex-wrap container mt-4">
    {% for item in items %}
        <div class="card text-center" style="width: 18rem;">
            <img src="{{ item.image.url }}" class="card-img-top" alt="Item Card">
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">Цена: {{ item.price }} ден.</p>
                <a href="{% url 'supplements' item.id %}" class="btn btn-secondary w-100">Детали</a>
            </div>
        </div>
    {% endfor %}
</div>

</div>


</body>
</html>